.addReservation {
  width: 80%;
  max-height: 100vh;
}

.main-addReservation {
  justify-content: center;
}

.package-types {
  background-color: #80cd32;
  border: 1px solid white;
  padding: 7px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 6px;
}

.addReservation-header {
  width: 100%;
  color: #fff;
}

.addReservation-header h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.addReservation-header p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (width < 768px) {
  .addReservation {
    width: 100% !important;
  }
}
