.delReservation {
  display: flex;
  width: 80%;
  height: 100vh;
}

.cancel-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  align-items: center;
  margin-top: 10%;
}

.main-delReservation {
  padding: 3%;
}

.cancel-heading,
.cancel-details {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.cancel-card {
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.264);
  justify-content: space-between;
}

.cancel-btn {
  height: 40px;
  width: 100px;
}

.cancel-details h2,
h3 {
  font-size: 1.4rem;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.cancel-btn:hover {
  background-color: red;
  color: white;
}

/* Mobile */
@media screen and (width < 768px) {
  .delReservation {
    width: 100%;
    flex: 1;
  }
}
